body{
  background-color: rgb(240, 250, 250);
}

.menu{
  background-color: #120f14;
  color: white;
  height: 100vh;
}

nav a{
  color: white;
  text-decoration: none;
  text-align: center;
}

nav a:hover{
  background-color: rgba(128, 121, 121, 0.596);
  color: white;
}

.formulario {
  background-color: white;
  padding: 2.5rem;
  margin-top: 4rem;
  
}

.error{
  color: red;
}